body {
  background-color: #fafdf2;
  font-family: "Urbanist", sans-serif;
  margin: 0px;
}

header {
  background-color: #1a3129;
  height: 70px;
  padding: 0px 15px;
}

nav {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.logo > a {
  color: #ffffff;
  font-weight: 600;
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  text-decoration: none;
}

.logo img {
  width: 34px;
}

nav > ul {
  display: none;
}

nav > ul li a {
  color: #fafdf2;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
}

nav > ul li a:hover,
nav > ul li a.active {
  color: #c8ff8f;
}

nav > a {
  align-items: center;
  background-color: #cbea7b;
  border-radius: 6px;
  color: #262626;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  height: 35px;
  justify-content: center;
  padding: 0px 10px;
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

@media (min-width: 1024px) {
  nav > ul {
    display: flex;
    gap: 10px;
    list-style: none;
    margin: 0;
  }

  .container {
    width: 70%;
  }
}
